node_modules
.venv
dist
.DS_Store

rdumap/static

/data

# Python
__pycache__
.ipynb_checkpoints




# Dataset for benchmarking
*.npy
*.npz
*.csv
*.data
*.name
rdumap/data/*.json

# log for benchmarking
*.log
*.out

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb